*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.container {
  width: 1400px;
  margin: 50px auto 0 auto;
}

.row {
  display: flex;
}

.column-left {
  width: 30%;
}

.heading {
  position: relative;
  padding-right: 30px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: right;
}

.heading::after {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%);
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 6px solid #ebf5f3;
  background-color: #55b9a9;
}

.heading::before {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: -114px;
  transform: translateY(-50%);
  content: "2012 - 2007";
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.item:nth-child(2) .heading::before {
  content: "2016 - 2012";
}

.item:nth-child(3) .heading::before {
  content: "2018 - 2016";
}

.item:nth-child(4) .heading::before {
  content: "2022 - 2018";
}

.title {
  margin: 20px 0;
  padding: 10px 30px 50px 0;
}

.item:not(.item:last-child) .title {
  border-right: 1px solid #ccc;
}

.desc {
  margin-left: auto;
  width: 280px;
  text-align: right;
  line-height: 1.4;
}

.link {
  display: flex;
}

a {
  text-align: center;
  margin: 20px 0 0 auto;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: inherit;
  transition: 0.5s;
}

.column-right {
  display: flex;
  justify-content: end;
  width: 70%;
}

.image {
  position: relative;
  width: 50%;
  height: 400px;
}

.image-big {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-ground__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -53px;
  left: -92px;
  width: 200px;
  height: 300px;
  background-image: url(../img/img-02.jpg);
  object-fit: cover;
}

.back-ground__color {
  position: relative;
  width: 90%;
  height: 90%;
  background-color: #415aae;
}

.back-ground__color h2 {
  position: absolute;
  bottom: 52px;
  right: 10px;
  font-size: 6rem;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../img/img-02.jpg);
}

.back-ground__color div {
  position: absolute;
  bottom: 32px;
  right: 10px;
  color: #fff;
}

.item {
  transition: 0.8s;
}

.item:hover {
  transform-origin: top right;
  transform: rotateY(-180deg);
}

.item:hover .heading {
  transform: scale(-1, 1);
  padding-left: 30px;
  text-align: left;
}

.item:hover .heading::before {
  content: "2007-2012";
  width: 100px;
  right: 430px;
}

.item:nth-child(2):hover .heading::before {
  content: "2012 - 2016";
}

.item:nth-child(3):hover .heading::before {
  content: "2016 - 2018";
}

.item:nth-child(4):hover .heading::before {
  content: "2018 - 2022";
}

.item:hover .heading::after {
  top: 0;
  left: -23px;
}

.item:hover .desc {
  transform: scale(-1, 1);
  text-align: left;
}

.item:hover a {
  transform: scale(-1, 1);
}

a:hover {
  transform: scale(-1, 1);
  background: #a26f5a;
  color: #fff;
  border-color: #a26f5a;
}
